

.signup h2 {
  text-align: center;
  padding: 20px;
  font-size: 32px;
}

.imgb {


  width: 395px;
  height: 449px;
  position: relative;
  left: -150px;
  top: 20px;
}


.container.signup {

  margin-bottom: 20px;
}

form table {

  margin-bottom: 20px;
}

form table td {

  padding: 5px;
}

.field {
  border-radius: 10px;
  background-color: #fafdff;
  border: 1px solid #f0f1f2;
  font-size: 12px;
  height: 25px;

  padding: 3px;

}

.field1 {
  width: 150px;
  height: 70px;
  border-radius: 10px;
  background-color: #fafdff;
  border: 1px solid #f0f1f2;
  font-size: 12px;
}

.btn {
  width: 140px;
  height: 50px;
  background-color: #f8a366;
  margin-top: 0;
  border-radius: 20px;
  color: white;
}

.check {
  margin-top: -32px;
  margin-left: 20px;
}

.link {
  color: #f8a366;
}

input.ng-invalid.ng-touched {
  border: rgb(245, 11, 11) 3px solid;
}

@media (max-width: 576px) {
  .signupimage {
      display: none;
  }
  .signup {
      width: 700px;
      height: 499px;
      border: 2px black solid;
      border-radius: 20px;
      margin-left: 0;
  }
}

@media (max-width: 768px) {
  .signup {
      width: 790px;
      height: 499px;
      border: 2px black solid;
      border-radius: 20px;
      margin: 50px 0 0 50px;
  }
}

@media (max-width: 1024px) {
  .signup {
      width: 790px;
      height: 499px;
      border: 2px black solid;
      border-radius: 20px;
      margin: 50px 0 0 50px;
  }
}

@media (max-width: 1440px) {
  .signup {
      width: 790px;
      height: 499px;
      border: 2px black solid;
      border-radius: 20px;
      margin: 50px 0 0 50px;
  }
}

@media (max-width: 2560px) {
  .signup {
      width: 790px;
      height: 499px;
      border: 2px black solid;
      border-radius: 20px;
      margin: 50px 0 0 50px;
  }
}