<div class="container-fluid " style="padding-top: 100px;">
    <div class="container logout rounded">
        <div class="row">
            <div class="col-4">
                <img src="../../../assets/images/speaker.png" style="width: 300px;height: 300px;" alt="">
            </div>
            <div class="col-8 text-white alert" style="margin-top: 50px;">
                <h4>Hey Wait!...</h4>
                <p>Are you sure , you want to leave this page without confirming your order?</p>


                <div class="col" style="margin-top: 50px;">
                    <button class="rounded logoutbtn mx-2">Yes,maybe later</button>
                    <button class="rounded logoutbtn">No, i want to stay</button>
                </div>

            </div>
            
        </div>
        
    </div>
</div>
