
  <div class="container-fluid py-5">
    <div class="container login-form">
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <img src="./assets/images/Frame 313.png" class="frameimg">
        </div>
        <div class="col-md-7 col-sm-12">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
            <table class="ftable">
              <tr>
                <td><label for="email">Email</label></td>
              </tr>
              <tr>
                <td>
                  <div class="input-container">
                    <input type="email" id="email" placeholder="example@gmail.com" class="field" formControlName="email">
                    <img src="./assets/images/Layer 2.png" alt="Icon" class="placeholder-icon">
                    <div class="vertical-line"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td><label for="password">Password</label></td>
              </tr>
              <tr>
                <td>
                  <div class="input-container">
                    <input type="password" id="password" placeholder="**********" class="field"
                      formControlName="password">
                    <img src="./assets/images/Password.png" alt="Icon" class="placeholder-iconp">
                    <div class="vertical-line"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Forgot password?</p>
                </td>
              </tr>
              <tr>
                <td><input type="submit" value="Login" class="field"></td>
              </tr>
            </table>
          </form>
  
          <div class="row lines">
            <div class="col-md-4"><div class="line"></div></div>
            <div class="col-md-4 or text-white text-center">or</div>
            <div class="col-md-4"><div class="line"></div></div>
          </div>
          <div class="row">
            <img src="./assets/images/Google.png" class="icons col-md-4 col-sm-12 d-flex mx-auto loginwith">
            <img src="./assets/images/Apple.png" class="icons col-md-4 col-sm-12 d-flex mx-auto loginwith">
            <img src="./assets/images/Facebook.png" class="icons col-md-4 col-sm-12 d-flex mx-auto loginwith">
          </div>
          <div class="row">
            <div class="col-md-7 linkp text-white">Don't have an Account?</div>
            <div class="col-md-3 link text-white" routerLink="/auth/signup">Signup</div>
          </div>
        </div>
  
      </div>
  
    </div>
  
  </div>






<!-- <div class="container-fluid py-5">
  <div class="container login-form">
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <img src="./assets/images/Frame 313.png" class="frameimg">
      </div>
      <div class="col-md-7 col-sm-12">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
          <table class="ftable">
            <tr>
              <td><label for="email">Email</label></td>
            </tr>
            <tr>
              <td>
                <div class="input-container">
                  <input type="email" id="email" placeholder="example@gmail.com" class="field" formControlName="email">
                  <img src="./assets/images/Layer 2.png" alt="Icon" class="placeholder-icon">
                  <div class="vertical-line"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td><label for="password">Password</label></td>
            </tr>
            <tr>
              <td>
                <div class="input-container">
                  <input type="password" id="password" placeholder="**********" class="field"
                    formControlName="password">
                  <img src="./assets/images/Password.png" alt="Icon" class="placeholder-iconp">
                  <div class="vertical-line"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <p>Forgot password?</p>
              </td>
            </tr>
            <tr>
              <td><input type="submit" value="Login" class="field"></td>
            </tr>
          </table>
        </form>

        <div class="row">
          <div class="col-md-4 line"></div>
          <div class="col-md-4 or">or</div>
          <div class="col-md-4 line"></div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12"><img src="./assets/images/Google.png" class="icons"></div>
          <div class="col-md-4 col-sm-12"><img src="./assets/images/Apple.png" class="icons"></div>
          <div class="col-md-4 col-sm-12"><img src="./assets/images/Facebook.png" class="icons"></div>
        </div>
        <div class="row">
          <div class="col-md-7 linkp">Don't have an Account?</div>
          <div class="col-md-3 link" routerLink="/auth/signup">Signup</div>
        </div>
      </div>
    </div>
  </div>
</div> -->