<!-- Modal -->
<div class="modal-overlay">
  <div class="modal-content">
    <div class="container">
      <div class="box">
        <h2>Add product</h2>
        <form [formGroup]="myform" (ngSubmit)="onSubmitForm()">
          <!-- <form> -->
          <div class="row">
            <div class="col-6">
              <table>
                <tr>
                  <td>
                    <label for="cat">
                      <P class="label">Product Name</P>
                    </label>
                  </td>
                  <td>
                    <input type="text" class="cat" formControlName="pname">
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="cat">
                      <P class="label">Product Category</P>
                    </label>
                  </td>
                  <td>
                    <input type="text" class="cat" formControlName="pcat">
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="cat">
                      <P class="label">Product price</P>
                    </label>
                  </td>
                  <td>
                    <input type="text" class="cat" formControlName="pprice">
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="cat">
                      <P class="label">available stock</P>
                    </label>
                  </td>
                  <td>
                    <input type="text" class="cat" formControlName="pstock">
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="cat">
                      <P class="label">Product Description</P>
                    </label>
                  </td>
                  <td>
                    <input type="text" class="des" formControlName="pdes">
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-6">
              <table>
                <tr>
                  <td>
                    <input type="file">
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="text-center my-3">
            <input type="button" class="btn btn-danger mx-3" (click)="onCancel()" value="Cancel">
            <input type="submit" class="btn btn-primary" value="save">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
