<!-- <app-usernavbar></app-usernavbar> -->

<nav class="navbar navbar-expand-lg bg-body-light">
  <div class="container-fluid ship-status">

    <i class="bi bi-basket"></i>
    Shipping
    <span><img src="../../assets/images/Line 2.png"></span>

    <i class="bi bi-credit-card"></i>
    <span><img src="../../assets/images/Spiral 3.png" class="spiral"></span>
  </div>



  
</nav>

<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col  py-2 ">
      <div class="card card1  " style="width: 28rem;height: 32rem;">
        <div class="image-border ">
          <img class="card-img-top c1 " src="../../../../assets/images/image 5.png" alt="Card image cap">
          <img src="../../../../assets/images/add-square.png" class="square">
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <h6 class="col ">
                Use saved Card:
              </h6>
              <div class="col">
                <select class="form-select bg-light" aria-label="Disabled select example">
                  <option selected>Master Card</option>
                  <option value="1">Credit Card</option>
                  <option value="2">Visa Card</option>
                  <option value="3">Paytm</option>
                </select>
              </div>
              <div class="form-group">
                <label for="inputAddress " class="text-secondary card">Name on Card:</label>
                <input type="text" class="form-control mt-2 bg-light place" id="inputAddress"
                  placeholder="Esther Howard">

              </div>
              <div class="form-group">
                <label for="inputCardNumber " class="text-secondary card">Card Number:</label>
                <input type="text" class="form-control mt-2 bg-light place1" id="inputCardNumber"
                  placeholder="123-456-789">
              </div>
              <div class="form-group col-md-6">
                <label for="inputDate" class="text-secondary t1">Expiry Date:</label>
                <input type="date" class="form-control mt-2 bg-light" id="inputDate" placeholder="MM/YY">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4" class="text-secondary t1 ">CCV</label>
                <input type="password" class="form-control mt-2 bg-light place2" id="inputPassword4" placeholder="...">
              </div>
              <div class="form-group mt-2 ">
                <img class="i3 float-end master" src="../../../../assets/images/Vector-4.png">
                <img class="i3 float-end mx-2" src="../../../../assets/images/visa.jpg">
                <img class="i3 mx-2 float-end " src="../../../../assets/images/master-card.jpg">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>


    <div class="col py-2">
      <div class="card card2" style="width: 18rem;">
        <img class="card-img i2" src="../../../../assets/images/Rectangle 5.png" alt="Card image cap">
        <div class="card-body">
          <table class="table">
            <thead>

            </thead>
            <tbody>
              <tr>

                <td>Product Total</td>
                <td></td>
                <td>201/-</td>
              </tr>
              <tr>

                <td>Discount</td>
                <td></td>
                <td>%10<span class="text-muted">(100/-)</span></td>
              </tr>
              <tr>

                <td>Delivery fee</td>
                <td></td>
                <td>Free</td>
              </tr>
              <tr>

                <th class="t2">Discount</th>
                <td></td>
                <th class="t2">250/-</th>
              </tr>
            </tbody>
          </table>

        </div>
        <button type="button" class="btn btn-primary  btn1 btn-block">Order</button>
      </div>
    </div>
  </div>
</div>