.ship-status {
  background-color: #faf0ca;
  height: 120px;
}

.track-line {
  height: 2px !important;
  background-color: green;
}

.dot {
  height: 10px;
  width: 10px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 0px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.card1 {
  border-color: white;
  -webkit-box-shadow: 2px 6px 10px 1px rgba(172, 171, 173, 1);
  -moz-box-shadow: 2px 6px 10px 1px rgba(172, 171, 173, 1);
  box-shadow: 2px 6px 10px 1px rgba(172, 171, 173, 1);
  margin-bottom: 10px;
}

.c1 {
  width: 18rem;
  height: 11rem;
  padding: 5px;
  margin-left: 5px;
}

.image-border {
  width: 19rem;
  height: 11.5rem;
  border: 1px solid rgb(194, 193, 193);
  margin-top: 5px;
  margin-left: 65px;
  border-radius: 10px;
}

.t1 {
  font-size: x-small;
}

.t2 {
  color: #78b689;
}

.i3 {
  width: 40px;
  height: 35px;
}

.i2 {
  height: 16rem;
  object-fit: contain;
}

.card2 {
  border: none;
}

.btn1 {
  background-color: #78b689;
  color: rgb(24, 23, 23);
  border: none;
}

@media (max-width: 576px) {
  .imagecol1 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .imagecol1 img {
    width: 100%;
    height: auto;
  }

  .imagecol1, .imagecol2{
      display: inline-block;
  }

  .mt-3 {
    margin-top: 1rem !important;
  }

  .revimg {
    margin-left: 0 !important;
  }

  .pobtn {
    margin-left: 0 !important;
  }

  .return-policy p {
    margin-bottom: 1rem;
  }

  .icon-f {
    font-size: 1.5rem !important;
  }
  .row.my-3{
      display: inline;
  }
  .row.my-3 .col-md-3 {
    display: inline;
  }
}

@media (max-width: 768px) {
  .imagecol1 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .imagecol1 img {
    width: 100%;
    height: auto;
  }

  .mt-3 {
    margin-top: 1rem !important;
  }

  .revimg {
    margin-left: 0 !important;
  }

  .pobtn {
    margin-left: 0 !important;
  }

  .return-policy p {
    margin-bottom: 1rem;
  }

  .icon-f {
    font-size: 1.5rem !important;
  }

  .row.my-3 .col-md-3{
    margin-left: 27px;
  }
}

@media (max-width: 1024px) {
  .imagecol1 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .imagecol1 img {
    width: 100%;
    height: auto;
  }

  .mt-3 {
    margin-top: 1rem !important;
  }

  .revimg {
    margin-left: 0 !important;
  }

  .pobtn {
    margin-left: 0 !important;
  }

  .return-policy p {
    margin-bottom: 1rem;
  }

  .icon-f {
    font-size: 1.5rem !important;
  }

  .row.my-3 .col-md-3 {
    padding-left: 5px;
    padding-right: 5px;
  }
}
