<div class="modal-overlay">
    <div class="modal-content">
        <div class="container">
            <div class="box">
                <div class="profileimage">
                    <img src="../../../../assets/images/Rectangle 5-5.png" id="userimage" alt="" title="userimg"> <!--{{Details.userimage}}-->
                </div>
                <div class="row profiledetails">
                    
                    <table>
                        <tr>
                            <td>Address</td>
                            <td>new york</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>+91 5423168</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>USA</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>new york</td>
                        </tr>
                        <tr>
                            <td>Pincode</td>
                            <td>777 175</td>
                        </tr>
                    </table>
    
                </div>
            </div>
        </div>
    </div>
</div>