<div class="container-fluid">
    <div class="container">
        <div class="col-md-3" style="margin-left: 70px;">
            <form>
                <ul style="list-style: none;">
                    <li class="fw-bold my-2">Name: <input type="text" placeholder="name"> </li>
                    <li class="fw-bold my-2">Email: <input type="text" placeholder="email"> </li>
                    <li class="fw-bold my-2">Phone: <input type="number" placeholder="phone"> </li>
                    <li class="fw-bold my-2">Address: <input type="text" placeholder="address"> </li>
                </ul>
            </form>
        </div>
    </div>
</div>